<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/> 
        <meta http-equiv="pragma" content="no-cache" /> 
        <meta http-equiv="expires" content="Mon, 26 Jul 1997 05:00:00 GMT"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Login</title>
        <meta name="description" content="">
        
        <link rel="stylesheet" href="main.css">
                <style type="text/css">
            body {
                background-color: #ffffff !important;
                background-image: none !important;
                background-repeat: no-repeat !important;
            }
            div.cwp-body {
            }
            .login .fontColor {
                color: #393939 !important;
            }
            .login a, .login a:link, .login a:hover {
                color: #0093d1 !important;
            }
            .login .btn {
                background-color: #fecf41 !important;
                color: #ffffff !important;
            }
            .logo {
                background: url(Logo_cci3.jpg) 0 0 no-repeat;
                background-size: cover;
            }
        </style/>
<script src="eula_fr.js"></script><!-- $STATIC_RESOURCE=eula -->
        <script>
            if(document.addEventListener){
                window.addEventListener('load', initPage,false);
            }else{
                window.attachEvent('onload', initPage);
            }
            
            function initPage() {
                document.title = res.title;
                if(res.html) {
                    for(var key in res.html) {
                        var el = document.querySelector('.' + key);
                        if(el) el.innerHTML = res.html[key]; 
                    } 
                }
            }
            function validate() {
            }
            function cancel() {
                document.write(""); 
                window.opener = self; 
                window.close();
            }
        </script>
    </head>
    <body>
        <div class="cwp-body">
            <div id="cwp-header">
                <div class="logo"></div>
            </div>
            <div class="cwp-content">
                <div id="cwp-title" class="line clearfix">
                    <h1 class="title"></h1>
                </div>
                <div class="error" id="sipDeny"></div>
                <div class="error" id="addi_msg"></div>
                <div id="normal">
                    <div id="reason" class="error"></div>
                    <div id="replymsg" class="error"></div>
                    <div id="redir" class="error"></div>
                </div>
                <div class="form-wrap policy">
                    <form action="reg.php" method="post" name="form2" class="login">
<input name="url" type="hidden" value="E2B8F3578D88E9B5238BFC418794408CCB2411D94626C3E3929699CD5323C990E5A1A844C4D4E9B32690FC448B840E99C63D1694537997BED1D9D98B0D0CD2C1B8E2E454C4">
                        <div class="policyNote fontColor"></div>
                        <div class="line clearfix grid2">
                            <div class="column grid2">
                                <button class="btn acceptButton"></button>
                            </div>
                            <div class="column grid2">
                                <button type="button" class="btn cancelButton" onclick="cancel();"></button>
                            </div>
                            <input name="checkbox" type="hidden" id="checkbox" value="checkbox" />
                        </div>
                    </form>    
                </div>
            </div>
            <div class="footer">
                <div>
                    <small>&copy; 2018 Aerohive Networks<!-- - <a href="">Terms</a> &amp; <a href="">Privacy</a>--></small>
                </div>
                <div class="footer-logo">
                    <small><img src="logo-default-bottom.png" alt="Powered By Aerohive Networks"></small>
                </div>
            </div>
        </div>
    </body>
</html>